.item-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;

  .form-group {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;

    input {
      padding: 10px;
      border: none;
      border-radius: 6px;
      box-sizing: border-box;
    }
  }

  .submit-button {
    align-self: flex-start;
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
  }
}
