.card-container {
  display: grid;
  grid-template-columns: auto max-content;
  gap: 15px;
  line-height: 1;
  border: 1px solid #f6f8f7;
  border-radius: 6px;
  background-color: #8a8b88;
  padding: 15px;
}
